:root {
  --primary-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --hero-btn-focus-background-color: #188ce8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-title-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-header {
  color: var(--logo-header-color);
}
.logo-footer {
  color: var(--primary-title-color);
}
.logo-first-part {
  color: var(--accent-color);
}
.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*------------------- header---------------------------------- */

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}
.footer-contacts-link:focus,
.footer-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:hover,
.site-nav-link.current,
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* --------------footer----------------- */
.footer {
  background-color: var(--footer-background-color);
}
.address {
  font-style: inherit;
}

.address-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

/* ------------------------hero---------------------- */
.hero {
  background-color: var(--footer-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}
.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--hero-btn-focus-background-color);
}

/* -------------------peculiarities section---------------- */

.peculiarities-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* --------------team section-------------------------------- */

.team {
  background-color: var(--team-background-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* -----------------our-projects section----------------------- */
.filter-btn {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-title-color);
  background-color: var(--team-background-color);
}

.filter-btn.active-btn {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}
.our-projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.our-projects-filter {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
